
html{
  .top-bar {
   background-color: $grey;

   .top-bar-left > .menu{
     background-color: $grey;
   }
   .top-bar-right > .menu{
     background-color: $grey;
   }
  .menu >.menu-text{
    color: $nav-text-color;
  }
  .menu > .menu-text >a {
    display:inline;
    padding: 0;
    color: $skyblue;
  }
}
}
